html,
body {
	min-height: 100%;
	font-size: $global-font-size;
	direction: $global-text-direction;
	height: 100%;
	max-width: 100%;
	text-align: right;
}

body {
	font-size: rem($global-font-size);
	background-color: $body-bg;
	font-family: $global-font-family;
	font-weight: 400;
	color: $text-color;
	overflow: visible;
	overflow-x: hidden;
}

a {
	color: $text-color;
	transition: color 200ms ease;

	&:hover,
	&:focus,
	&:active {
		outline: none;
		text-decoration: none;
	}
}

button {
	&,
	&:focus {
		outline: none !important;
	}
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
span,
p,
b,
input,
textarea,
select,
th,
td {
	direction: rtl;
	text-align: right;
}

input,
textarea {
	&:focus {
		outline: 0;
	}
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
	font-family: $global-font-icon !important;
}

#nprogress .bar {
	@apply bg-brand-1;
}
