@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url("./iranyekan/IRANYekanExtraBold.ttf");
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("./iranyekan/IRANYekanBold.ttf");
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url("./iranyekan/IRANYekanRegular.ttf");
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url("./iranyekan/IRANYekanLight.ttf");
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 200;
	font-display: swap;
	src: url("./iranyekan/IRANYekanThin.ttf");
}

@font-face {
	font-family: IRANYekan;
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("./iranyekan/IRANYekanRegular.ttf");
}