.btn {
	@apply text-white bg-brand-1 py-2 px-4 rounded-8 transition-colors duration-150 ease-in-out;
}

.btn-small {
	@apply py-1 px-2 text-sm;
}

.btn-larg {
	@apply py-3 px-6 text-xl;
}

.btn-wide {
	@apply px-16;
}