.game-vitrine {
	.game-vitrine--photo {
		height: calc(75vh);

		.game-vitrine--photo--img {
			background-position-y: rem(24px);
		}

		.game-vitrine--photo--border {
			bottom: rem(-80px);
			right: rem(16px);
			left: rem(16px);
		}
	}
}