// **************************************************************************
// image ratios
// **************************************************************************

.ratio-box {
	width: 100%;
	overflow: hidden;
	position: relative;
	background-color: Black;

	&.ratio-box-is-placeholder {
		background-color: theme(Light);
	}

	&.ratio-box-is-transparent {
		background-color: transparent;
	}

	&.ratio-box-1-1 {
		padding-top: 100%;
	}

	&.ratio-box-2-1 {
		padding-top: 50%;
	}

	&.ratio-box-3-2 {
		padding-top: 66.66%;
	}

	&.ratio-box-4-3 {
		padding-top: 75%;
	}

	&.ratio-box-5-4 {
		padding-top: 80%;
	}

	&.ratio-box-8-5 {
		padding-top: 62.5%;
	}

	&.ratio-box-16-9 {
		padding-top: 56.25%;
	}

	&.ratio-box-wide {
		padding-top: 37.3%;
	}

	&.ratio-box-ver {
		padding-top: 113%;
	}

	&.ratio-box-poster {
		padding-top: 141%;
	}

	.ratio-box-content {
		@apply absolute top-0 bottom-0 left-0 right-0 text-center;

		img {
			@apply absolute top-0 bottom-0 left-0 right-0 max-w-full m-auto;
		}
	}

	&.is-overlay-title {
		@apply relative;

		.image-info {
			@apply absolute bottom-0 left-0 right-0 rounded-b-lg bg-overlay bg-opacity-75;
		}
	}
}