@media (max-width: 470px) {
	.row-item {
		.row-item--content {
			.row-item--content--desc {
				height: rem(56px);
			}
		}
	}
}
@media (max-width: 430px) {
	.row-item {
		.row-item--content {
			.row-item--content--desc {
				height: rem(36px);
			}
		}
	}
}

@media (max-width: 400px) {
	.row-item {
		.row-item--content {
			.row-item--content--desc {
				height: rem(20px);
			}
		}
	}
}
