.showcase {
	.showcase--photo {
		height: 100vh;
	}

	.showcase--side-box {
		$showcaseSideBoxHeight: rem(120px);
		top: 15%;
		right: rem(-54px);
		@apply absolute;

		.showcase--side-box--title {
			height: $showcaseSideBoxHeight;
			width: rem(52px);
			@apply bg-brand-1 float-right text-base rounded-r-8 border-2 border-brand-1;
		}

		.showcase--side-box--text {
			height: $showcaseSideBoxHeight;
			width: rem(352px);
			@apply float-left bg-gray-300 bg-opacity-25 text-sm p-3 rounded-l-8 border-2 border-brand-1;
		}
	}

	.showcase--bottom-box {
		bottom: rem(-125px);
		left: rem(-44px);
		width: rem(205px);
		@apply absolute;

		.showcase--bottom-box--title {
			height: rem(60px);
			line-height: rem(60px);
			@apply bg-brand-1 text-base w-full text-center rounded-t-8 border-2 border-brand-1;
		}

		.showcase--bottom-box--text {
			height: rem(120px);
			@apply bg-gray-300 bg-opacity-25 text-sm p-3 w-full rounded-b-8 border-2 border-brand-1;
		}
	}
}
