// .swiper-container {}

// .swiper-container-horizontal>.swiper-pagination {
// 	@apply absolute bottom-0;

// 	.swiper-pagination-bullet {
// 		@apply bg-brand-3 bg-opacity-50 opacity-100;

// 		&.swiper-pagination-bullet-active {
// 			@apply bg-brand-3;
// 		}
// 	}
// }

.swiper-button-next,
.swiper-button-prev {
	&:after {
		color: white;
	}
}