// **************************************************************************
// color pallet
// **************************************************************************
$body-bg: #1B1C1A;
$dark-bg: #151515;
$box-bg: #485963;
$brand-1: #ed6663;
$brand-2: #0f4c81;
$brand-3: #ffa372;
$text-color: #fff;
$black: #000;
$gray-dc: #dcdcdc;

// **************************************************************************
// Global variables
// **************************************************************************
$global-font-size: rem(16px);
$global-text-direction: rtl;
$global-font-family: "IRANYekan";
$global-font-icon: "iconHub";
$global-border-radius: rem(10px);




