@font-face {
    font-family: "iconHub";
    src: url("./iconHub.eot?acb7f21bc1893d2988fe48c055ad1a5d?#iefix") format("embedded-opentype"),
url("./iconHub.woff2?acb7f21bc1893d2988fe48c055ad1a5d") format("woff2"),
url("./iconHub.woff?acb7f21bc1893d2988fe48c055ad1a5d") format("woff"),
url("./iconHub.ttf?acb7f21bc1893d2988fe48c055ad1a5d") format("truetype"),
url("./iconHub.svg?acb7f21bc1893d2988fe48c055ad1a5d#iconHub") format("svg");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: iconHub !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
    content: "\f101";
}
.icon-like-fill:before {
    content: "\f102";
}
.icon-like:before {
    content: "\f103";
}
.icon-location:before {
    content: "\f104";
}
.icon-login:before {
    content: "\f105";
}
.icon-logo:before {
    content: "\f106";
}
.icon-logout:before {
    content: "\f107";
}
.icon-menu:before {
    content: "\f108";
}
.icon-profile:before {
    content: "\f109";
}
.icon-reply:before {
    content: "\f10a";
}
.icon-search:before {
    content: "\f10b";
}
.icon-star:before {
    content: "\f10c";
}
.icon-telegram:before {
    content: "\f10d";
}
.icon-twitter:before {
    content: "\f10e";
}
.icon-user-placeholder:before {
    content: "\f10f";
}
.icon-youtube:before {
    content: "\f110";
}
